* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    line-height: 1.6;
    color: #333;
}

/* Navbar */
header {
    background: #111;
    padding: 15px 40px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #fff;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

nav ul li a:hover {
    color: #00bcd4;
}

/* Hero */
.hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    background: linear-gradient(135deg, #0c0c0c4d, #30752eaf, #4bb6be);
    
}

.hero h1 {
    font-size: 3rem;
}

.hero span {
    color: #ffffff;
}

.hero p {
    margin: 15px 0;
}

.btn {
    background: #fff;
    color:  #57b2da, #8853c5, #be4b77;
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
}

/* Sections */
.section {
    padding: 60px 80px;
    text-align: center;
}

.section h2 {
    margin-bottom: 20px;
    font-size: 2rem;
}

.gray {
    background: #f4f4f4;
}

/* Skills */
.skills-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.skill {
    background: linear-gradient(135deg, #57b2da, #8853c5, #be4b77);
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 500;
}

/* Projects */
.projects-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.project-card {
    background: #fff;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.contact-section {
    padding: 80px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
}

.contact-section h2 {
    font-size: 2rem;
    margin-bottom: 30px;
    color: #222;
}

.contact-form {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-bottom: 6px;
    font-weight: 500;
    color: #333;
}

.contact-form input,
.contact-form textarea {
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #aaa;
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
}

.contact-form {
    inset:focus;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

.contact-form textarea:focus {
    border-color: #007bff;
}

.contact-form button {
    background: #007bff;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
     border-radius: 30px;
}

.contact-form button:hover {
    background: #0056b3;
}

/* Footer */
footer {
    background: #111;
    color: #fff;
    text-align: center;
    padding: 15px;
}

/* Responsive */
@media (max-width: 768px) {
    .section {
        padding: 40px 20px;
    }

    nav ul {
        gap: 10px;
    }

    .hero h1 {
        font-size: 2.2rem;
    }
}